body {
    margin: 0;
    top: 0;
    padding: 0;
    font-family: 'Poppins', serif;
    width: 100%;
}

.main {
    width: 100%;
}

.site-header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 5.5rem;
    background-color: white;
    opacity: 0.9;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10vw;
    box-sizing: border-box;
}

nav>.menu {
    position: relative;
    display: inline-block;
}

nav>.menu>input {
    display: none;
}

nav>.menu-home>input {
    display: none;
}

.nav {
    display: flex;
    margin-right: 1vw;
    flex-direction: row-reverse;
    gap: 3.5vw;
    font-size: 1.1rem;
    color: #000;
    margin-top: 0.2rem;
}

nav>.menu>label {
    cursor: pointer;
    width: max-content;
    position: relative;
    display: inline-block;
    font-weight: lighter;
}

nav>.menu>label::before {
    content: "";
    position: absolute;
    left: -10%;
    bottom: 0;
    height: 0.2rem;
    width: 120%;
    background: #0CC0DF;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.5s ease;
}

nav>.menu>label:hover::after {
    opacity: 0.4;
    transform: scaleX(0.86);
    content: "";
    position: absolute;
    left: -10%;
    bottom: 0;
    height: 0.2rem;
    width: 120%;
    background: darkgray;
}

nav>.menu>label:hover::after {
    transform: scaleX(0.86);
}

body:has(#home:target) nav label[for="Home"]::before {
    opacity: 0;
}

body:has(#home:target) nav label[for="Home"]::after {
    transform: scaleX(0.86);
}

body:has(#funcionalidades:target) nav label[for="Func"]::before {
    transform: scaleX(0.86);
}

body:has(#funcionalidades:target) nav label[for="Func"]::after {
    opacity: 0;
}

body:has(#planos:target) nav label[for="Planos"]::before {
    transform: scaleX(0.86);
}

body:has(#planos:target) nav label[for="Planos"]::after {
    opacity: 0;
}

body:has(#C:target) nav label[for="Contato"]::before {
    transform: scaleX(0.86);
}

body:has(#C:target) nav label[for="Contato"]::after {
    opacity: 0;
}

body.admin-page nav label[for="Admin"]::before {
    transform: scaleX(0.86);
    transform-origin: center;
}

body.admin-page nav label[for="Admin"]::after {
    opacity: 0;
}

nav>.menu>input:checked+label::before {
    transform: scaleX(0.86);
}

nav>.menu>input:checked+label::after {
    opacity: 0;
}

.menu-btn {
    font-size: 28px;
    cursor: pointer;
    display: none;
    user-select: none;
}

#menu-toggle {
    display: none;
}

.logo {
    width: 4rem;
    height: 4rem;
    color: #043253;
    font-size: 1.46rem;
    font-weight: 500px;
    display: flex;
    margin-left: -2vw;
    margin-top: -0.5vh;
    gap: 1vw;
}

.logo>span {
    margin-top: 1.2rem;
    font-weight: lighter;
}

a {
    color: #000;
    text-decoration: none;
}

main {
    margin-top: -30px;
}

section {
    display: flex;
}

#Adm {
    font-size: 5rem;
    color: #0CC0DF;
    font-weight: lighter;
    margin-bottom: 2vh;
    transform: translateY(60%);
}

.admContent {
    position: relative;
    font-size: 1.4rem;
    text-align: left;
    font-weight: lighter;
    margin-left: 9.2vw;
    margin-top: 10vh;
    z-index: 100;
}

.loginAdmin {
    margin-top: 7vh;
}

#Login {
    margin-top: 10vh;
}


.loginAdmin>#senhaAdmin {
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.415);
    width: 350px;
    border: white solid 2px;
    background-color: white;
    border-radius: 25px;
    padding: 8px;
    padding-left: 40px;
    display: flex;
    align-items: center;
}

.loginAdmin>#emailLogin {
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.415);
    width: 350px;
    margin-top: 30px;
    border: white solid 2px;
    background-color: white;
    border-radius: 25px;
    padding: 8px;
    padding-left: 40px;
    margin-bottom: 30px;
    text-decoration: none;
    color: #000;
}

label>img {
    height: 20px;
    width: 25px;
    align-items: center;
    margin-top: 10px;
}

label>#senha {
    position: relative;
    top: 2.7px;
}

input {
    align-items: center;
    border: 0;
    padding: 10px;
    font-size: 1.2rem;
    color: #333;
}

#Login {
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.415);
    color: black;
    background-color: white;
    width: 180px;
    padding: 10px;
    border-radius: 30px;
    border: white solid;
    font-size: 1.2rem;
    font-weight: lighter;
    font-style: initial;
    font-family: 'Poppins', serif;
    letter-spacing: 2px;

}

.entraesq {
    margin-top: 2vh;
    display: flex;
    width: max-content;
    align-items: center;
}

#Entrar {
    background-color: #0077B6;
    color: white;
    margin-left: 8.5vw;
    width: 140px;
    padding: 10px;
    border-radius: 30px;
    border: #0077B6 solid;
    font-family: 'Poppins', serif;
    font-size: 1.1rem;
    font-weight: lighter;
    font-style: initial;
    letter-spacing: 2px;
    transition: 0.5s;
    cursor: pointer;
}

#esqsenha {
    background-color: beige;
    width: 195px;
    font-size: 1.1rem;
    padding-right: 5px;
}

#Entrar:hover {
    background-color: #043253;
    border: #043253 solid;
    color: rgb(227, 226, 226);
}

.elipseAz {
    position: relative;
    left: 70%;
    top: -74.6vh;
    height: 660px;
}

.elipseAzul {
    position: relative;
    left: 43%;
    top: -74.6vh;
    height: 660px;
}

.elipseBranca {
    position: relative;
    left: 20%;
    top: -74.6vh;
    height: 660px;
}

.boiAdmin {
    position: relative;
    right: 1.5vw;
    margin-right: -1vw;
    top: -105vh;
    height: 260px;
}

.Imagens {
    position: fixed;
    top: 86.35vh;
    right: 3%;
    margin-right: -2vw;
    z-index: 50;
    transition: ease 0.25s;
}

@media (max-width: 1353px) {
    .elipseAz {
        position: absolute;
        left: 34%;
    }

    .elipseAzul {
        position: absolute;
    }

    .elipseBranca {
        position: absolute;
        left: 53%;
    }

    .boiAdmin {
        top: -50.5vh;
        left: 25.5vw;
        margin-right: 26vw;
    }

    .Imagens {
        margin-right: -2vw;
    }
}

@media (max-width: 1300px) {
    .boiAdmin {
        left: 55%;
    }
}

@media (max-width: 1200px) {
    .boiAdmin {
        left: 57%;
    }

    .Imagens {
        margin-right: 1%;
    }
}

@media (max-width: 1000px) {
    .boiAdmin {
        left: 56%;
    }

    .Imagens {
        margin-right: 5%;
    }
}

@media (max-width: 879px) {
    .admContent {
        opacity: 1;
    }

    .Imagens {
        opacity: 0.7;
        transition: ease-in 0.25s;
    }
}

@media (max-width: 780px) {
    .boiAdmin {
        left: 57%;
    }

    .Imagens {
        margin-right: 8.6%;
    }
}

@media (max-width: 768px) {
    .menu-btn {
        display: block;
        position: relative;
        right: -6vw;
        top: 0.2vh;
        font-size: 1.5rem;
    }

    .nav {
        position: absolute;
        top: 8vh;
        right: 3vw;
        background: #fff;
        border: 1px solid #ddd;
        flex-direction: column;
        gap: 15px;
        padding: 15px;
        display: none;
    }

    #menu-toggle:checked~.nav {
        display: flex;
        flex-direction: column-reverse;
    }
}

@media (max-width: 700px) {
    .Imagens {
        margin-right: 11.3%;
    }
}

@media (max-width: 620px) {
    .Imagens {
        margin-right: 14.8%;
    }
}

@media (max-width: 540px) {
    .loginAdmin>#senhaAdmin {
        width: 80%;
    }

    .loginAdmin>#emailLogin {
        width: 80%;
    }

    #Entrar {
        width: 30%;
    }

    .boiAdmin {
        left: 58%;
    }

    .Imagens {
        margin-right: 19.2%;
        margin-top: 1vh;
    }
}