:root {
    --header-offset: 95px;
}

html {
    scroll-behavior: smooth;
}

[id] {
    scroll-margin-top: var(--header-offset);
}

#C {
    scroll-margin-top: 0;
}

body {
    margin: 0;
    top: 0;
    padding: 0;
    font-family: 'Poppins', serif;
    width: 100%;
    overflow-x: hidden;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 12vh;
    background-color: white;
    opacity: 0.9;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10vw;
    box-sizing: border-box;
}

main {
    margin-top: -4vh;
}

.logo {
    width: 4rem;
    height: 4rem;
    color: #043253;
    font-size: 1.46rem;
    font-weight: 500px;
    display: flex;
    margin-left: -2vw;
    margin-top: -0.5vh;
    gap: 1vw;
}

.logo>span {
    margin-top: 3vh;
}

a {
    color: #000;
    text-decoration: none;
}

nav>.menu {
    display: inline-block;
}

nav>.menu>input {
    display: none;
}

nav>.menu>label {
    cursor: pointer;
    width: max-content;
    position: relative;
}

.nav {
    display: flex;
    gap: 3.5vw;
    font-size: 1.1rem;
    color: #000;
    margin-top: 1vh;
}

nav>.menu>label::before {
    content: "";
    position: absolute;
    left: -10%;
    bottom: 0;
    height: 0.2rem;
    width: 120%;
    background: #0CC0DF;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.5s ease;
}

nav>.menu>label:hover::after {
    opacity: 0.4;
    transform: scaleX(0.86);
    content: "";
    position: absolute;
    left: -10%;
    bottom: 0;
    height: 0.2rem;
    width: 120%;
    background: darkgray;
}

body:has(#home:target) nav label[for="Home"]::before {
    transform: scaleX(0.86);
}

body:has(#home:target) nav label[for="Home"]::after {
    opacity: 0;
}

body:has(#funcionalidades:target) nav label[for="Func"]::before {
    transform: scaleX(0.86);
}

body:has(#funcionalidades:target) nav label[for="Func"]::after {
    opacity: 0;
}

body:has(#planos:target) nav label[for="Planos"]::before {
    transform: scaleX(0.86);
}

body:has(#planos:target) nav label[for="Planos"]::after {
    opacity: 0;
}

body:has(#C:target) nav label[for="Contato"]::before {
    transform: scaleX(0.86);
}

body:has(#C:target) nav label[for="Contato"]::after {
    opacity: 0;
}

body:not(:has(:target)) nav label[for="Home"]::before {
    transform: scaleX(0.86);
}

body:not(:has(:target)) nav label[for="Home"]::after {
    opacity: 0;
}

nav>.menu>input:checked+label::before {
    transform: scaleX(0.86);
}

nav>.menu>input:checked+label::after {
    opacity: 0;
}

.menu-btn {
    font-size: 28px;
    cursor: pointer;
    display: none;
    user-select: none;
}

#menu-toggle {
    display: none;
}

@media (max-width: 800px) {
    .logo {
        position: relative;
        top: 0.1vh;
    }

    .logo>span {
        position: relative;
        top: -0.1vh;
    }

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: nowrap;
        width: 100%;
        max-width: 100%;
    }

    .nav {
        display: flex;
    }

    .menu-btn {
        display: block;
        position: relative;
        right: -6vw;
        top: 0.2vh;
        font-size: 1.5rem;
    }

    .nav {
        position: absolute;
        top: 6vh;
        right: 3vw;
        background: #fff;
        border: 1px solid #ddd;
        flex-direction: column;
        gap: 15px;
        padding: 15px;
        display: none;
    }

    #menu-toggle:checked~.nav {
        display: flex;
    }
}

.selecionado>a {
    text-decoration: none;
    color: #000;
}

#home {
    display: flex;
}

#Bvindo {
    margin-top: 33vh;
    width: 628px;
    line-height: 10.5vh;
    position: relative;
    font-size: 5.6rem;
    color: #000;
    text-align: left;
    display: inline-block;
    font-weight: lighter;
    margin-left: 9.2vw;
}

.zetaHighlight {
    font-weight: 500;
    color: #043253;
}

.description {
    width: 600px;
    position: relative;
    font-size: 1.2rem;
    color: #000;
    text-align: left;
    display: inline-block;
    font-weight: lighter;
    margin-left: 9.2vw;
    margin-top: -1vh;
}

.himage {
    margin-top: 22vh;
    margin-right: 8vw;
    height: 32rem;
}

@media (max-width: 1100px) {
    #home {
        flex-direction: column;
        row-gap: 25vh;
    }

    #Bvindo {
        width: 80vw;
    }

    .description {
        width: 70vw;
    }

    .himage {
        width: 35rem;
        margin: 0 auto;
    }
}

.buttons {
    position: absolute;
    display: flex;
    margin-top: 0.9vh;
}

.buttons>button>a {
    font-size: 0.9rem;
    align-items: center;
    vertical-align: middle;
}

#btn1Cover {
    background-color: #043253;
    margin-right: 1.9vw;
    margin-left: 9.2vw;
    border-radius: 1.5em;
    height: 4.3rem;
    width: 12rem;
    transition: 0.5s;
    cursor: pointer;
}

#btn1Cover:hover {
    background-color: #0077B6;
    border: #0077B6;
}


.btn1 {
    text-align: center;
    text-decoration: none;
    color: #f6f7ff;
}


#btn2Cover {
    margin-left: 0.15vw;
    border-radius: 1.5em;
    height: 4.3rem;
    border: 2px solid #18a4e1;
    width: 12rem;
    background-color: white;
}

.btn2 {
    text-align: center;
    text-decoration: none;
    color: #18a4e1;
}

@media (max-width: 768px) {
    #home {
        position: absolute;
        row-gap: 25vh;
        row-gap: 21vw;
    }

    #Bvindo {
        font-size: 13vw;
        font-size: 13.5vh;
        margin-top: 33vh;
        margin-top: 28.5vw;
    }

    .description {
        font-size: 2.8vw;
        font-size: 2.9vh;
        margin-top: -1vh;
        margin-top: -0.6vw;
    }

    .himage {
        width: 73vw;
        height: 67vw;
    }

    #btn1Cover {
        border-radius: 1.5em;
        height: 10.3vh;
        width: 25vw;
    }

    #btn2Cover {
        border-radius: 1.5em;
        height: 10.3vh;
        width: 25vw;
    }

    .buttons>button>a {
        font-size: 2.17vh;
        font-size: 1.9vw;
    }

    #nssapp {
        position: relative;
        top: 100000vw;
    }

    #funcionalidades {
        position: relative;
        top: 10000vw;
    }
}

#Nssaplicat {
    width: 40vw;
    font-size: 4.9vw;
    color: #043253;
    text-align: left;
    display: inline-block;
    font-weight: lighter;
    margin-left: 9.2vw;
    margin-top: 13vw;
    margin-bottom: 0.2vw;
}

#nssappdescription {
    padding-top: 0.2vw;
    width: 44.2vw;
    font-size: 1.947vw;
    color: #000;
    text-align: left;
    font-weight: lighter;
    margin-left: 9.2vw;
    margin-top: 0.3vw;
}

.celular {
    margin-left: 59vw;
    height: 42vw;
    margin-top: -30vw;
}


.funcionali {
    transform: translateY(-45%);
    margin-left: 55vw;
    height: 26vw;
    margin-bottom: 1vw;
    margin-top: -80vw;
}

.patinhas {
    margin-top: -40vw;
    width: 20vw;
}

#funcionalidades {
    width: 100%;
}

.funcionalis {
    border: #18a4e1 0.3vw solid;
    border-radius: 2vw;
    width: 18.5vw;
    height: 9.9vw;
    padding: 0.7vw;
    padding-left: 1.8vw;
    margin-bottom: 3.2vw;
}

.fserv {
    position: relative;
    top: -3.6vw;
    color: #18a4e1;
    font-weight: 300;
    font-size: 1.3vw;
}

.fdescrip {
    position: relative;
    font-weight: lighter;
    top: -4.5vw;
    font-size: 1.05vw;
}

#Nssserv {
    transform: translateX(0%);
    width: 100%;
    font-size: 3.9vw;
    color: #043253;
    text-align: center;
    font-weight: lighter;
    margin-top: 10vw;
}

.funcontent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 10%;
    margin-top: 3.7vw;
}

.imagem1 {
    position: relative;
    margin-left: -0.6vw;
    top: -47.1vw;
    width: 12vw;
}

.imagem2 {
    position: relative;
    margin-left: 89.7vw;
    top: -53.1vw;
    width: 11.7vw;
}

.iconesF {
    position: relative;
    top: -2.8vw;
    width: 4vw;
}

#nssEquip {
    transform: translateX(0%);
    width: 100%;
    font-size: 60px;
    color: #043253;
    text-align: center;
    font-weight: lighter;
    margin-top: 285px;
}

.subtitulo {
    transform: translateX(0%);
    text-align: center;
    margin-top: -30px;
    width: 100%;
    color: #0CC0DF;
    font-size: 20px;
}

#C {
    width: 100%;
}

.equipeContent {
    width: 100%;
}

.Integrantesprimeiroano {
    position: absolute;
    font-size: 20px;
    color: #000;
    text-align: left;
    display: inline-block;
    font-weight: lighter;
    margin-left: 141.6px;
    margin-top: 150x;

}

#Rapha {
    position: absolute;
    width: 350px;
    top: -8px;
    margin-left: 120px;
}

#Rapha>.nome {
    font-weight: 200;
    font-size: 18px;
    margin-bottom: 10px;
    color: #0077B6;
    transition: 0.4s;
    cursor: pointer;
}

#Rapha>.nome:hover {
    color: #0CC0DF;
}

#Rapha>.descInt {
    margin-top: 10px;
    font-weight: lighter;
    font-size: 12px;
}

#Matheus {
    position: absolute;
    width: 350px;
    top: 100px;
    margin-left: 120px;
}

#Matheus>.nome {
    font-weight: 200;
    font-size: 18px;
    margin-bottom: 10px;
    color: #0077B6;
    transition: 0.4s;
    cursor: pointer;
}

#Matheus>.nome:hover {
    color: #0CC0DF;
}

#Matheus>.descInt {
    margin-top: 10px;
    font-weight: lighter;
    font-size: 12px;
}

#Lucas {
    position: absolute;
    width: 350px;
    top: 205px;
    margin-left: 120px;
}

#Lucas>.nome {
    font-weight: 200;
    font-size: 18px;
    margin-bottom: 10px;
    color: #0077B6;
    transition: 0.4s;
    cursor: pointer;
}

#Lucas>.nome:hover {
    color: #0CC0DF;
}

#Lucas>.descInt {
    margin-top: 10px;
    font-weight: lighter;
    font-size: 12px;
}

#Caio {
    position: absolute;
    width: 350px;
    top: 310px;
    margin-left: 120px;
}

#Caio>.nome {
    font-weight: 200;
    font-size: 18px;
    margin-bottom: 10px;
    color: #0077B6;
    transition: 0.4s;
    cursor: pointer;
}

#Caio>.nome:hover {
    color: #0CC0DF;
}

#Caio>.descInt {
    margin-top: 10px;
    font-weight: lighter;
    font-size: 12px;
}


#Jo達o {
    position: absolute;
    width: 350px;
    top: -8px;
    margin-left: 900px;
}

#Jo達o>.nome {
    font-weight: 200;
    font-size: 18px;
    margin-bottom: 10px;
    color: #0077B6;
    transition: 0.4s;
    cursor: pointer;
}

#Jo達o>.nome:hover {
    color: #0CC0DF;
}

#Jo達o>.descInt {
    margin-top: 10px;
    font-weight: lighter;
    font-size: 12px;
}

#Nicolas {
    position: absolute;
    width: 350px;
    top: 100px;
    margin-left: 900px;
}

#Nicolas>.nome {
    font-weight: 200;
    font-size: 18px;
    margin-bottom: 10px;
    color: #0077B6;
    transition: 0.4s;
    cursor: pointer;
}

#Nicolas>.nome:hover {
    color: #0CC0DF;
}

#Nicolas>.descInt {
    margin-top: 10px;
    font-weight: lighter;
    font-size: 12px;
}

#Davi {
    position: absolute;
    width: 350px;
    top: 208px;
    margin-left: 900px;
}

#Davi>.nome {
    font-weight: 200;
    font-size: 18px;
    margin-bottom: 10px;
    color: #0077B6;
    transition: 0.4s;
    cursor: pointer;
}

#Davi>.nome:hover {
    color: #0CC0DF;
}

#Davi>.descInt {
    margin-top: 10px;
    font-weight: lighter;
    font-size: 12px;
}

.patasboi1 {
    height: 280px;
    margin-top: -30px;
}

.patasboi2 {
    height: 250px;
    margin-left: 400px;
}

.patasboi3 {
    margin-left: 1400px;
    margin-top: -500px;
    margin-bottom: 200px;
}

.patasboi4 {
    margin-left: 1380px;
    margin-top: -20px;
}

.col1 {
    height: 400px;
}


.col2 {
    margin-bottom: 100px;
    margin-left: 700px;
    height: 300px;
}


#planos {
    width: 100%;
}

.check {
    margin-top: -5px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 10px;
}

.check>img {
    width: 20px;
    height: 20px;
}

#tbpreco {
    margin-top: 100px;
    transform: translateX(0%);
    text-align: center;
    color: #000;
    font-weight: lighter;
    font-size: 20px;

}

#escPlano {
    transform: translateX(0%);
    text-align: center;
    color: #043253;
    font-weight: lighter;
    font-size: 50px;
    margin-top: -30px;
}

#planosAll {
    margin-top: -20px;
    display: flex;
    justify-content: space-between;
    padding-left: 200px;
    padding-right: 200px;
    margin-bottom: 100px;
}



.plano {
    border: #0077B6 2px solid;
    border-radius: 50px;
    width: 300px;
    height: 480px;
    transition: 0.8s;
    cursor: pointer;
}

.plano:hover {
    transform: scale(1.05);
    border: #0CC0DF 2px solid;
}



.plano>h4,
h1 {
    text-align: center;
}

.plano>h4 {
    margin-top: 35px;
    font-weight: lighter;
    color: #043253;
}

.plano>h1 {
    font-weight: 400;
    margin-top: -25px;
    color: #0077B6;
    font-size: 55px;
}

.checks {
    margin-top: -30px;
}

.planoAzul {
    width: 300px;
    height: 480px;
    border-radius: 50px;
    background-color: #18a4e1;
    transition: 0.8s;
    cursor: pointer;
}

.planoAzul:hover {
    transform: scale(1.05);
}

.planoAzul>h4,
h1 {
    text-align: center;
}

.plano>p {
    margin-left: 20px;
    font-size: 15px;
    align-items: center;

}

.planoAzul {
    border: #18a4e1 2px solid;
    border-radius: 50px;
    width: 300px;
    height: 480px;
}

.planoAzul>h4,
h1 {
    text-align: center;
}

.planoAzul>img {
    vertical-align: middle;
}

.planoAzul>h4 {
    margin-top: 35px;
    font-weight: lighter;
    color: black;
}

.planoAzul>h1 {
    font-weight: 400;
    margin-top: -25px;
    color: white;
    font-size: 55px;
}

.planoAzul>p {
    color: white;
    margin-left: 20px;
    font-size: 15px;
    align-content: center;
    vertical-align: middle;
}



#especific {
    font-size: 12px;
    color: #0CC0DF;
    text-align: center;
    margin-top: -50px;
    margin-left: -8px;
}

.btSelecAzul,
.btSelecAzul1 {
    margin-top: 20px;
    margin-left: 50px;
    width: 200px;
    background-color: #18a4e1;
    border: #18a4e1 2px solid;
    color: white;
    border-radius: 25px;
    height: 45px;
    font-size: 18px;
    font-weight: lighter;
    font-family: 'Poppins', serif;
    transition: 0.5s;
    cursor: pointer;
}

.btSelecAzul1:hover {
    background-color: #043253;
    border-color: #043253;
}

.btSelecAzul:hover {
    background-color: #043253;
    border-color: #043253;
}

.btSelecAzul1 {
    margin-top: 65px;
}

#btBrancoSelec {
    margin-top: 25px;
    margin-left: 50px;
    width: 200px;
    background-color: white;
    border: white 2px solid;
    color: #0077B6;
    border-radius: 25px;
    height: 45px;
    font-size: 18px;
    font-weight: lighter;
    font-family: 'Poppins', serif;
    transition: 0.5s;
    cursor: pointer;
}

#btBrancoSelec:hover {
    background-color: #bababa;
    border-color: #bababa;
}


.img1 {
    margin-left: 1320px;
    margin-top: -700px;
}

.img2 {
    margin-left: -15px;
}




#entContat {
    width: 800px;
    font-size: 75px;
    color: #043253;
    text-align: left;
    display: inline-block;
    font-weight: lighter;
    margin-left: 141.6px;
    margin-top: 100px;
    margin-bottom: 2px;
}

.descriptioncontact {
    padding-top: 2px;
    width: 700px;
    font-size: 18px;
    color: #000;
    text-align: left;
    font-weight: lighter;
    margin-left: 141.6px;
    margin-top: 5px;
}

.contactUs {
    height: 90;
    position: relative;
    font-size: 25px;
    text-align: left;
    font-weight: lighter;
    margin-left: 141.6px;
    margin-top: 5px;
}

.contactUs>#nomeContato {
    display: flex;
    gap: 10px;
    width: 620px;
    border: #0077B6 solid 2px;
    border-radius: 25px;
    padding: 6px;
    padding-left: 40px;
    align-items: center;
}

.contactUs>#emailContato {
    display: flex;
    gap: 10px;
    width: 620px;
    margin-top: 25px;
    border: #0077B6 solid 2px;
    border-radius: 25px;
    padding: 6px;
    padding-left: 40px;
    margin-bottom: 30px;
    text-decoration: none;
    color: #000;
    align-items: center;
}

.contactUs>label {
    padding-top: 5px;
}

.main {
    max-width: 100%;
}


input {
    border: 0px;
    padding: 10px;
    font-size: 20px;
    color: #333;
    outline: none;
    font-family: 'Poppins', serif;
}


.IconsContato {
    width: 750px;
    height: 90;
    position: relative;
    font-size: 28px;
    text-align: left;
    font-weight: lighter;
    margin-left: 141.6px;
    margin-top: 40px;
    position: absolute;
    display: flex;
    margin-bottom: 20px;
}


#zap {
    margin-right: 75px;
    margin-bottom: 20px;
}

#linked {
    margin-right: 75px;
    margin-bottom: 20px;
}

#insta {
    margin-bottom: 20px;
}


#Enviar {
    background-color: #0077B6;
    color: white;
    width: 310px;
    padding: 8px;
    border-radius: 30px;
    border: #0077B6 solid;
    font-size: 30px;
    font-weight: lighter;
    font-style: initial;
    font-family: 'Poppins', serif;
    letter-spacing: 2px;
    transition: 0.5s;
    cursor: pointer;
}

#Enviar:hover {
    background-color: #043253;
    border: #043253 solid;
    color: rgb(227, 226, 226);
}

.boizao {
    margin-left: 1010px;
    margin-top: -355px;
}

.patadoboi {
    margin-left: 800px;
    margin-top: -600px;
    margin-bottom: 200px;
    height: 400px;
    width: 500px;
}