body {
    margin: 0;
    top: 0;
    padding: 0;
    font-family: 'Poppins', serif;
}

.header {
    max-width: 100%;
    margin-top: -22px;
}

main {
    margin-top: -30px;
}

.container {
    display: flex;
    gap: 650px;
    margin: 0 auto;
    margin-top: 34px;
}

.logo {
    width: 82.748px;
    height: 80.198px;
    color: #043253;
    font-size: 25px;
    font-weight: 500px;
    display: flex;
    gap: 16px;
}

.logo>img {
    margin-left: 127px;
}

.logo>span {
    margin-top: 28%;
}

.nav{
    justify-content: space-between;
}

.nav>ul {
    margin-top: 22px;
    color: #000;
    font-size: 20px;
    font-weight: 500px;
    display: flex;
    gap: 50px;
}

.nav>ul>a {
    text-decoration: none;
    color: #000;
}

.selecionado>a {
    text-decoration: none;
    color: #000;
}

.selecionado>.underline {
    width: 70px;
    padding: 0;
    stroke-width: 4px;
    background-color: #0CC0DF;
    margin-left: -8.6px;
    margin-top: -2px;
    height: 3px;
}
/*corpo do site */

#Bvindo{
    width: 523px;
    position: relative;
    font-size: 90px;
    color: #000;
    text-align: left;
    display: inline-block;
    font-weight: lighter;
    margin-left: 141.6px;
}

.zetaHighlight{
    font-weight: 500;
    color: #043253;
}
.hcontent>.subtitle{
    width: 523px;
    position: relative;
    font-size: 90px;
    color: #000;
    text-align: left;
    font-weight: lighter;
    margin-left: 141.6px;
    margin-top: -120px;
    margin-bottom: 0;
}

.description{
    width: 612px;
    height: 90;
    position: relative;
    font-size: 20px;
    color: #000;
    text-align: left;
    display: inline-block;
    font-weight: lighter;
    margin-left: 141.6px;
    margin-top: 150x;
}

.h {
    display: flex;
}

.mainImg {
    margin-top: 90px;
    margin-left: 30%;
    position: relative;
}

.himg2 {
    position: absolute;
    top: 135px;
    left: 825px;
}

/* botao */
.buttons{
    position: absolute;
    display: flex;
    margin-top: 20px;
}

#btn1Cover{
    background-color: #043253;
    margin-right: 62px;
    margin-left: 141.6px;
    border-radius: 20px;
    height: 70px;
    width: 180px;
}
.btn1{
    
    text-align: center;
    text-decoration: none;
    color: #f6f7ff;
    vertical-align: middle;   
    position: absolute; 
    margin-left: 26px;
    margin-bottom: 20px;
    margin-top: 20px;

}

#btn2Cover{
    margin-left: 12px;
    border-radius: 20px;
    height: 68px;
    border: 2px solid #18a4e1;
    width: 180px;
}
.btn2{
    
    text-align: center;
    text-decoration: none;
    color: #18a4e1;
    vertical-align: middle;  
    margin: 0 auto; 
    position: absolute; 
    margin-left: 49px;
    margin-bottom: 20px;
    margin-top: 20px;

}







