body {
    margin: 0;
    top: 0;
    padding: 0;
    font-family: 'Poppins', serif;
    width: 100%;
    overflow-x: hidden;
}

.header {
    position: fixed;
    width: 100%;
    margin-top: -32px;
    margin-bottom: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000; 
}

main {
    margin-top: -30px;
}

.container {
    display: flex;
    gap: 650px;
    margin: 0 auto;
    margin-top: 34px;
}

.logo {
    width: 82.748px;
    height: 80.198px;
    color: #043253;
    font-size: 25px;
    font-weight: 500px;
    display: flex;
    gap: 16px;
}

.logo>img {
    margin-bottom: 10px;
    margin-left: 127px;
}

.logo>span {
    margin-top: 28%;
}


nav > .menu > input{
    display: none;
}

a{
    color: #000;
    text-decoration: none;
}

nav > .menu > label {
    cursor: pointer;
    width: max-content;
    position: relative;
}

.nav {
    margin-top: 30px;
    color: #000;
    font-size: 20px;
    display: flex;
    gap: 50px;
}

nav > .menu {
    display: inline-block;
}

nav > .menu > label::after{
    content: "";
    position: absolute;
    left: -10%;
    bottom: 0;
    height: 3px;
    width: 120%;
    background: darkgray;
    transform:scaleX(0);
    opacity: 0;
    transition: opacity 0.5s ease;
    
}

nav > .menu > label::before{
    content: "";
    position: absolute;
    left: -10%;
    bottom: 0;
    height: 3px;
    width: 120%;
    background: #0CC0DF;
    transform:scaleX(0);
    transform-origin: center;
    transition: transform 0.5s ease;
}


nav > .menu > label:hover::after {
    opacity: 0.4;
    transform: scaleX(0.86);
}

nav > .menu > input:checked + label::before{
    transform: scaleX(0.86);
}

nav > .menu > input:checked + label::after{
    background: transparent; 
}


/*corpo do site */
.selecionado>a {
    text-decoration: none;
    color: #000;
}


#Bvindo{
    margin-top: 180px;
    width: 523px;
    position: relative;
    font-size: 90px;
    color: #000;
    text-align: left;
    display: inline-block;
    font-weight: lighter;
    margin-left: 141.6px;
}

.zetaHighlight{
    font-weight: 500;
    color: #043253;
}
.hcontent>.subtitle{
    width: 523px;
    position: relative;
    font-size: 90px;
    color: #000;
    text-align: left;
    font-weight: lighter;
    margin-left: 141.6px;
    margin-top: -120px;
    margin-bottom: 0;
}

.description{
    width: 612px;
    height: 90;
    position: relative;
    font-size: 20px;
    color: #000;
    text-align: left;
    display: inline-block;
    font-weight: lighter;
    margin-left: 141.6px;
    margin-top: 150x;
}

#home{
    display: flex;
}

.mainImg {
    margin-top: 185px;
    margin-left: 30%;
    position: relative;
}


.himg2 {
    position: absolute;
    top: 125px;
    left: 825px;
}


.buttons{
    position: absolute;
    display: flex;
    margin-top: 20px;
}

#btn1Cover{
    background-color: #043253;
    margin-right: 28px;
    margin-left: 141.6px;
    border-radius: 20px;
    height: 70px;
    width: 180px;
    transition: 0.5s;
    cursor: pointer;
}

#btn1Cover:hover{
    background-color: #0077B6;
    border: #0077B6;
}


.btn1{  
    text-align: center;
    text-decoration: none;
    color: #f6f7ff;
}


#btn2Cover{
    margin-left: 3px;
    border-radius: 20px;
    height: 68px;
    border: 2px solid #18a4e1;
    width: 180px;
    background-color: white;
}

.btn2{
    text-align: center;
    text-decoration: none;
    color: #18a4e1;
}

@media (max-width: 1200px) {
    .container {
        flex-direction: column;
        gap: 20px;
    }

    .logo {
        margin-left: 0;
    }

    .nav{
        flex-direction: column;
        gap: 20px;
        margin-top: 20px;
        margin-right: 90%;
    }

    #Bvindo, .hcontent > .subtitle, .description {
        text-align: center;
        margin-left: 0;
    }

    .mainImg {
        margin-left: 0;
        margin-top: 20px;
    }

    .buttons {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        position: static;
        margin-top: 20px;
    }

    #btn1Cover, #btn2Cover {
        margin-left: 0;
    }

    .btn1, .btn2 {
        position: static;
        margin: 0 auto;
    }
}

#Nssaplicat{
    width: 800px;
    font-size: 75px;
    color: #043253;
    text-align: left;
    display: inline-block;
    font-weight: lighter;
    margin-left: 141.6px;
    margin-top: 200px;
    margin-bottom: 2px;
}

#nssappdescription{
    padding-top: 2px;
    width: 750px;
    font-size: 30px;
    color: #000;
    text-align: left;
    font-weight: lighter;
    margin-left: 141.6px;
    margin-top: 5px;
}

.celular{
    margin-left: 900px;
    height: 650px;
    margin-top: -450px;

}

.funcionali{
    transform: translateY(-45%);
    margin-left: 840px;
    height: 400px;
    margin-bottom: 10px;
    margin-top: -800px;
}

.patinhas{
    margin-top: -680px;
}


#nssEquip{
    transform: translateX(0%);
    width: 100%;
    font-size: 60px;
    color: #043253;
    text-align: center;
    font-weight: lighter;
    margin-top: 35px;
}

.subtitulo{
    transform: translateX(0%);
    text-align: center;
    margin-top: -30px;
    width: 100%;
    color: #0CC0DF;
    font-size: 20px;
}

#C{
    width: 100%;
}

.equipeContent{
    width: 100%;
}

.Integrantesprimeiroano{
    position: absolute;
    font-size: 20px;
    color: #000;
    text-align: left;
    display: inline-block;
    font-weight: lighter;
    margin-left: 141.6px;
    margin-top: 150x;

}

#Rapha{
    position: absolute;
    width: 350px;
    top: -8px;
    margin-left: 120px;
}

#Rapha > .nome{
    font-weight: 200;
    font-size: 18px;
    margin-bottom: 10px;
    color: #0077B6;
    transition: 0.4s;
    cursor: pointer;
}

#Rapha > .nome:hover{
    color: #0CC0DF;
}

#Rapha > .descInt{
    margin-top: 10px;
    font-weight: lighter;
    font-size: 12px;
}

#Matheus{
    position: absolute;
    width: 350px;
    top: 100px;
    margin-left: 120px;
}

#Matheus > .nome{
    font-weight: 200;
    font-size: 18px;
    margin-bottom: 10px;
    color: #0077B6;
    transition: 0.4s;
    cursor: pointer;
}

#Matheus > .nome:hover{
    color: #0CC0DF;
}

#Matheus > .descInt{
    margin-top: 10px;
    font-weight: lighter;
    font-size: 12px;
}

#Lucas{
    position: absolute;
    width: 350px;
    top: 205px;
    margin-left: 120px;
}

#Lucas > .nome{
    font-weight: 200;
    font-size: 18px;
    margin-bottom: 10px;
    color: #0077B6;
    transition: 0.4s;
    cursor: pointer;
}

#Lucas > .nome:hover{
    color: #0CC0DF;
}

#Lucas > .descInt{
    margin-top: 10px;
    font-weight: lighter;
    font-size: 12px;
}

#Caio{
    position: absolute;
    width: 350px;
    top: 310px;
    margin-left: 120px;
}

#Caio > .nome{
    font-weight: 200;
    font-size: 18px;
    margin-bottom: 10px;
    color: #0077B6;
    transition: 0.4s;
    cursor: pointer;
}

#Caio > .nome:hover{
    color: #0CC0DF;
}

#Caio > .descInt{
    margin-top: 10px;
    font-weight: lighter;
    font-size: 12px;
}


#João{
    position: absolute;
    width: 350px;
    top: -8px;
    margin-left: 900px;
}

#João > .nome{
    font-weight: 200;
    font-size: 18px;
    margin-bottom: 10px;
    color: #0077B6;
    transition: 0.4s;
    cursor: pointer;
}

#João > .nome:hover{
    color: #0CC0DF;
}

#João > .descInt{
    margin-top: 10px;
    font-weight: lighter;
    font-size: 12px;
}

#Nicolas{
    position: absolute;
    width: 350px;
    top: 100px;
    margin-left: 900px;
}

#Nicolas > .nome{
    font-weight: 200;
    font-size: 18px;
    margin-bottom: 10px;
    color: #0077B6;
    transition: 0.4s;
    cursor: pointer;
}

#Nicolas > .nome:hover{
    color: #0CC0DF;
}

#Nicolas > .descInt{
    margin-top: 10px;
    font-weight: lighter;
    font-size: 12px;
}

#Davi{
    position: absolute;
    width: 350px;
    top: 208px;
    margin-left: 900px;
}

#Davi > .nome{
    font-weight: 200;
    font-size: 18px;
    margin-bottom: 10px;
    color: #0077B6;
    transition: 0.4s;
    cursor: pointer;
}

#Davi > .nome:hover{
    color: #0CC0DF;
}

#Davi > .descInt{
    margin-top: 10px;
    font-weight: lighter;
    font-size: 12px;
}

.patasboi1{
    height: 280px;
    margin-top: -30px;
}

.patasboi2{
    height: 250px;
    margin-left: 400px;
}

.patasboi3{
    margin-left: 1400px;
    margin-top: -500px;
    margin-bottom: 200px;
}

.patasboi4{
    margin-left: 1380px;
    margin-top: -20px;
}

.col1{
    height: 400px;
}


.col2{
    margin-bottom: 100px;
    margin-left: 700px;
    height: 300px;
}


#planos{
    width: 100%;
}

.check{
    margin-top: -5px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 10px;
}

.check > img{
    width: 20px;
    height: 20px;
}

#tbpreco{
    margin-top: 100px;
    transform: translateX(0%);
    text-align: center;
    color: #000;
    font-weight: lighter;
    font-size: 20px;

}

#escPlano{
    transform: translateX(0%);
    text-align: center;
    color: #043253;
    font-weight: lighter;
    font-size: 50px;
    margin-top: -30px;
}

#planosAll{
    margin-top: -20px;
    display: flex;
    justify-content: space-between;
    padding-left: 200px;
    padding-right: 200px;
}

.plano{
    border: #0077B6 2px solid;
    border-radius: 50px;
    width: 300px;
    height: 480px;
}

.plano > h4,h1{
    text-align: center;
}

.plano > h4{
    margin-top: 35px;
    font-weight: lighter;
    color: #043253;
}

.plano > h1{
    font-weight: 400;
    margin-top: -25px;
    color: #0077B6;
    font-size: 55px;
}

.checks{
    margin-top: -30px;
}

.planoAzul{
    width: 300px;
    height: 480px;
    border-radius: 50px;
    background-color: #18a4e1;
}

.planoAzul > h4,h1{
    text-align: center;
}

.plano > p{
    margin-left: 20px;
    font-size: 15px;
    align-items: center;

}

.planoAzul{
    border: #18a4e1 2px solid;
    border-radius: 50px;
    width: 300px;
    height: 480px;
}

.planoAzul > h4,h1{
    text-align: center;
}

.planoAzul > img{
    vertical-align: middle;
}

.planoAzul > h4{
    margin-top: 35px;
    font-weight: lighter;
    color: black;
}

.planoAzul > h1{
    font-weight: 400;
    margin-top: -25px;
    color: white;
    font-size: 55px;
}

.planoAzul > p{
    color: white;
    margin-left: 20px;
    font-size: 15px;
    align-content: center;
    vertical-align: middle;
}



#especific{
    font-size: 12px;
    color: #0CC0DF;
    text-align: center;
    margin-top: -50px;
    margin-left: -8px;
}

.btSelecAzul, .btSelecAzul1{
    margin-top: 20px;
    margin-left: 50px;
    width: 200px;
    background-color: #18a4e1;
    border: #18a4e1 2px solid;
    color: white;
    border-radius: 25px;
    height: 45px;
    font-size: 18px;
    font-weight: lighter;
    font-family: 'Poppins', serif;
    transition: 0.5s;
    cursor: pointer;
}

.btSelecAzul1:hover{
    background-color: #043253;
    border-color: #043253;
}
.btSelecAzul:hover{
    background-color: #043253;
    border-color: #043253;
}

.btSelecAzul1{
    margin-top: 65px;
}

#btBrancoSelec{
    margin-top: 25px;
    margin-left: 50px;
    width: 200px;
    background-color: white;
    border: white 2px solid;
    color: #0077B6;
    border-radius: 25px;
    height: 45px;
    font-size: 18px;
    font-weight: lighter;
    font-family: 'Poppins', serif;
    transition: 0.5s;
    cursor: pointer;
}

#btBrancoSelec:hover{
    background-color: #e7e7e7;
    border-color: #e7e7e7;
}


.img1{
    margin-left: 1320px;
    margin-top: -700px;
}

.img2{
    margin-left: -15px;
}




#entContat{
    width: 800px;
    font-size: 75px;
    color: #043253;
    text-align: left;
    display: inline-block;
    font-weight: lighter;
    margin-left: 141.6px;
    margin-top: 150px;
    margin-bottom: 2px;
}

.descriptioncontact{
    padding-top: 2px;
    width: 750px;
    font-size: 18px;
    color: #000;
    text-align: left;
    font-weight: lighter;
    margin-left: 141.6px;
    margin-top: 5px;
}

.contactUs{
    height: 90;
    position: relative;
    font-size: 25px;
    text-align: left;
    font-weight: lighter;
    margin-left: 141.6px;
    margin-top: 5px;
}

.contactUs > #nomeContato{
    width: 650px;
    border: #0077B6 solid 2px;
    border-radius: 25px;
    padding: 6px;
    padding-left: 40px;
    align-items: center;
}

.contactUs > #emailContato{
    width: 650px;
    margin-top: 25px;
    border: #0077B6 solid 2px;
    border-radius: 25px;
    padding: 6px;
    padding-left: 40px;
    margin-bottom: 30px;
    text-decoration: none;
    color: #000;
    align-items: center;
}

.main{
    max-width:100%;
}


input {
    align-items: center;
    border: 0px;
    padding: 10px;
    font-size: 20px;
    color: #333;
    outline: none;
    font-family: 'Poppins', serif;
}


.IconsContato{
    width: 750px;
    height: 90;
    position: relative;
    font-size: 28px;
    text-align: left;
    font-weight: lighter;
    margin-left: 141.6px;
    margin-top: 40px;
    position: absolute;
    display: flex;
    margin-bottom: 20px;
}


#zap{
    margin-right: 95px;
    margin-bottom: 20px;
}

#linked{
    margin-right: 95px;
    margin-bottom: 20px;
}

#insta{
    margin-bottom: 20px;
}


#Enviar{
    background-color: #0077B6;
    color: white;
    width: 350px;
    padding: 8px;
    border-radius: 30px;
    border: #0077B6 solid;
    font-size: 30px;
    font-weight: lighter;
    font-style: initial;
    font-family: 'Poppins', serif;
    letter-spacing: 2px;
    transition: 0.5s;
    cursor: pointer;
}

#Enviar:hover{
    background-color: #043253;
    border: #043253 solid;
    color: rgb(227, 226, 226);
}

.boizao{
    margin-left: 1010px;
    margin-top: -355px;
}

.patadoboi{
    margin-left: 800px;
    margin-top: -600px;
    margin-bottom: 200px;
    height: 400px;
    width: 500px;
} 


